* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #222;
}


@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }
}